body {
    margin:0;
    font-family: 'Crimson Pro', serif;
    font-size: 22px;
    background-color: beige;

}

nav {
    background-color: bisque;
    border: 1px solid rgb(53, 31, 4);
    border-radius: 10px 5px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: rgb(54, 1, 1);
    margin-right: 20px;
}

nav a:hover {
    text-decoration: none;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px 5px;
    color: rgb(16, 79, 100);
    margin-right: 20px;

}

footer {
    background-color: rgb(196, 171, 141);
    padding: 30px;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: rgb(54, 1, 1);
    margin-right: 20px;
}

footer a:hover {
    text-decoration: none;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px 5px;
    color: rgb(16, 79, 100);
    margin-right: 20px;
}

.section-one{
    background-color: rgb(241, 174, 92);
    padding: 30px;
    padding-bottom: 100px;
}

.section-one img {
    position: absolute;
    width: 200px;
    height: auto;
}

#section-one-img-one {
    top: 225px;
    left:25px;
    border: 1px dotted black;
}

#section-one-img-two {
    right:200px;
    top: 100px;
}

.section-two {
    font-family: "Sofia", sans-serif;
    font-size: 19px;
    background-color: rgb(159, 132, 98);
    padding: 30px;
}

#headshot {
    display: block;
    width: 18%;
    margin: 0 auto;
    border: 2px solid #365c81; 
    box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.2);
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: rgb(59, 45, 59);
}

a:hover {
    color: brown;
}

hr {
    border: 2px dotted rgb(72, 63, 63);
    border-radius: 100%;
    border-color: antiquewhite;
}

.card {
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-basis: 0; 
    flex-grow: 1;  
}
.card:hover {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 10em;
    height: 10em;
    border: 2px solid black;
    margin: 0 3em;
}

.card h3 {
    text-align: center;
}

.three-col {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

#languages-list {
    list-style-type: "\1F44D";
    padding-left: 30px;
}

.list {
    margin: 0 auto;
    display: grid;
    background-color: lightgray;
    padding: 10px;
    border: 2px solid #423131;
}

.one-col {
    display: grid;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
  }
  
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;

  }
  
  input[type="submit"],
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;

  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #0056b3;
  }